<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Barco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Cadastro de Barco</h2>
    <form method="post">
        <input type="hidden" name="chave" value="SPARROW123">
        <input type="text" name="nome" placeholder="Nome do Barco" required>
        <input type="text" name="capacidade" placeholder="Capacidade" required>
        <input type="text" name="dono" placeholder="Nome do Dono" required>
        <button type="submit" class="btn-login">Cadastrar</button>
    </form>
</body>
</html>
